#sr-registration {
  display: flex;
  text-align: center;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

#sr-registration-form {
  display: flex;
  flex-direction: column;
  padding: 30px 40px;
  background-color: rgba(199, 198, 198, 0.548);
  border-radius: 8px;
  max-width: 100%;
  min-width: 480px;
  box-shadow: 0 0 10px rgba(206, 204, 204, 0.548);
  -moz-box-shadow: 0 0 10px rgba(206, 204, 204, 0.548);
  -webkit-box-shadow: 0 0 10px rgba(206, 204, 204, 0.548);
  -o-box-shadow: 0 0 10px rgba(206, 204, 204, 0.548);
}

#sr-registration-form input {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  margin: 10px auto;
  font-size: 22px;
  border-radius: 4px;
}

#sr-registration-form input[type="text"] {
  padding-left: 8px;
}

#sr-registration-form input[type="submit"]:hover {
  background-color: #ccc;
}
