#sba-form {
  text-align: left;
  display: table;
}

.form-label {
  padding-left: 0px;
}

label {
  float: left;
  clear: none;
  display: block;
  padding: 10px 1em 0px 0;
}

input[type="checkbox"],
input[type="radio"] {
  float: left;
  clear: none;
  margin: 2px 0 0 2px;
}
