body {
  margin: 0;
  background: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  font-family: "Open Sans", sans-serif;
}

.form-label {
  font-weight: normal;
}
.form-check-label {
  font-weight: normal;
  margin-left: 7px;
}
/* .container-fluid {
  padding: 0;
  margin: 0;
}

.container {
  padding: 0;
  margin: 0 auto;
} */

a {
  cursor: pointer;
}

input {
  height: 42px !important;
}

label {
  color: rgb(119, 118, 118);
}
/* :root {
  --global_main_color: #1fba6f;
} */

.breadcrumb {
  width: 100%;
}

.form-sub-label {
  padding-top: 0px;
}

label {
  padding-top: 0px;
}

input {
  margin-top: 5px;
}

form {
  max-width: 100% !important;
}
